
      <h2>Dynamic Variable Provider</h1>
      <p>This is a Web based implementation of a Dynamic Variable Provider of TIBCO Silver Fabric 5.5. 
      The project consists of a "Dynamic Variable Provider" running inside a Silver Fabric Broker and a stand-alone "Web Application" that provides variables. 
      At run time the "Dynamic Variable Provider" queries the "Web Application" for variables via an HTTP request. 
      The "Web Application" supports multiple variable providers and users can manage them using the Web UI.</p>
