
      <h2>Dynamic Variable Provider</h1>
      <p>This is a Web based implementation of a Dynamic Variable Provider of TIBCO Silver Fabric 5.5. 
      The project consists of a "Dynamic Variable Provider" running inside Silver Fabric Broker and a stand-alone "Web Application" that provides variables. 
      At run time the "Dynamic Variable Provider" queries the "Web Application" for variable requests via HTTP channel. 
      The "Web Application" serves multiple variable providers, users can manage rules of variable provider using Web UI.</p>
