      <h2>Variable Provider</h2>
      <p>Use the "Create" button to add new rule; Click on a rule, choose the action buttons on the write pane to edit/copy/remove that rule.  
      </p>
      
<div class="container-fluid" style="padding-left:0px; padding-right:0px;margin-top:15px">
<div class="row-fluid">
<div class="span2">
    <div class="btn-group btn-group-vertical">
      <button class="btn btn-info" style="width:90px" ng-click="newRule()">Create</button>
      <div style="margin-top:10px;"></div>
      <button class="btn btn-info rowAction" style="width:90px" ng-click="editRule()" disabled='disabled'>Edit</button>  
      <button class="btn btn-info rowAction" style="width:90px" ng-click="removeRule()" disabled='disabled'>Remove</button>
      <button class="btn btn-info rowAction" style="width:90px" ng-click="copyRule()" disabled='disabled'>Copy</button>
    </div>
     
     
 <!--Sidebar content-->
</div>
<div class="span10">
<!--Body content-->      
      
      
      
      
<form style="margin-bottom:10px;">
 <fieldset>
   <label>Name</label>
   <input type="text" ng-model="ruleSet.name" ng-disabled="!createNew" placeholder="Name" required/>
   <label>Description</label>
   <input type="text" ng-model="ruleSet.desc" placeholder="Description" style="width:400px;"/>
   <span class="help-block">If case should be matched when comparing Primary and Secondary Keys in a Rule:</span>
   <label class="checkbox">
     <input type="checkbox" ng-model="ruleSet.match"/> Match Case
   </label>
  </fieldset>
</form>

    <div class="row">
     <form class="form-search pull-right" style="margin-bottom:5px;">
           <div class="input-append" >
             <input type="text" class="search-query" ng-model='search'>
             <button type="submit" class="btn" ng-click="doSearch()">Search</button>
           </div>
     </form>
    </div>
   <table class="table table-striped"> 
       <th style="width:25%;"><a ng-click="sortBy('prim')">Primary</a>
           <div style="display:inline; margin-left:5px;width:20px;">
           <img src="images/up_arrow.gif" style="position:absolute;" ng-show="sorting.column=='prim' && sorting.ascending==true"/>
           <img src="images/down_arrow.gif" style="position:absolute;" ng-show="sorting.column=='prim' && sorting.ascending==false"/>
           </div>
       </th>
       <th style="width:25%;"><a ng-click="sortBy('sec')">Secondary</a>
           <div style="display:inline; margin-left:5px;width:20px;">
           <img src="images/up_arrow.gif" style="position:absolute;" ng-show="sorting.column=='sec' && sorting.ascending==true"/>
           <img src="images/down_arrow.gif" style="position:absolute;" ng-show="sorting.column=='sec' && sorting.ascending==false"/>
           </div>
       </th>
       <th style="width:25%;"><a ng-click="sortBy('name')">Variable</a>
           <div style="display:inline; margin-left:5px;width:20px;">
           <img src="images/up_arrow.gif" style="position:absolute;" ng-show="sorting.column=='name' && sorting.ascending==true"/>
           <img src="images/down_arrow.gif" style="position:absolute;" ng-show="sorting.column=='name' && sorting.ascending==false"/>
           </div>
       </th>
       <th style="width:25%;"><a ng-click="sortBy('value')">Value</a>
           <div style="display:inline; margin-left:5px;width:20px;">
           <img src="images/up_arrow.gif" style="position:absolute;" ng-show="sorting.column=='value' && sorting.ascending==true"/>
           <img src="images/down_arrow.gif" style="position:absolute;" ng-show="sorting.column=='value' && sorting.ascending==false"/>
           </div>
       </th>
     </tr>
     <tr ng-repeat="rule in stagingList" ng-click="selectRow(this)" class="listRow">
       <td>{{rule.prim}}</td>
       <td>{{rule.sec}}</td>
       <td>{{rule.name}}</td>
       <td>{{rule.value}}</td>
     </tr>
    </table>
    <div class="pagination">
      <ul>
        <li ng-repeat="p in pagination" class="{{p.status}}">
          <a ng-click="gotoPage(p.page)">{{p.value}}</a>
        </li>
      </ul>
    </div>
    <label></label>
   
    <button ng-click="save()" class="btn btn-primary">Save</button>
    <button class="btn" ng-click="cancel()">Cancel</button>


</div> <!-- span10 -->
</div>
</div>


<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Variable Rule</h3>
  </div>
  <div class="modal-body">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label">Primary Key</label>
      <div class="controls">
        <input ng-model="currRule.prim" required/>
        <div ng-show="duplicate_rule" class="app_error">Duplicate Primary/Secondary and name</div>
      </div>
    </div>

    
    <div class="control-group" >
      <label class="control-label">Secondary Key</label>    
      <div class="controls">
        <input ng-model="currRule.sec" required/>
        <div ng-show="duplicate_rule" class="app_error">Duplicate Primary/Secondary and name</div>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Variable Name</label>
      <div class="controls">          
        <input ng-model="currRule.name" required/>
        <div ng-show="duplicate_rule" class="app_error">Duplicate Primary/Secondary and name</div>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Variable Value</label>
      <div class="controls">      
        <input ng-model="currRule.value" required ng-change="ruleFormChange"/>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="saveRules()">Ok</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
   </div>
</div>


