<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <servlet>
    <servlet-name>variables</servlet-name>
    <servlet-class>org.fabrican.extension.variable.provider.servlet.RequestsServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>management</servlet-name>
    <servlet-class>org.fabrican.extension.variable.provider.servlet.ManagementServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>variables</servlet-name>
    <url-pattern>/variables/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>management</servlet-name>
    <url-pattern>/management/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>  
</web-app>
